<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="text-center col-md-12">
    <h3><a class="btn btn-large" href="/newblog/0">Create a Blog</a></h3>
  </div>

  {{#if blogs.length}}
  <div class="col-md-12 blog-list">
    <h3>Current blogs:</h3>
    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/newblog/{{blog.id}}">{{blog.name}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
